<!DOCTYPE html>
<html>
<head>
	<!-- 'block' keywords states that the data is inheritable, which means you can use the name of it which is 'title' to later add new data/html -->
	<title>{% block title %} ToDo App {% endblock %}</title>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	 </head>

</head>
<body>
	<!-- Navbar -->
	{% include "navbar.html" %}

	<!-- Content -->
	{% block content %}
	{% endblock %}


	<!-- Bootstrap JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>