{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
	{% if "user_id" not in request.session %}
		<h1 class="text-center my-3">You are not authorized to access this page.</h1>
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
	{% else %}
		<div class="container">
			<div class="row">
				<div class="col-6 offset-3">
					<h1 class="text-center my-3">Update Profile</h1>
					<p class="text-success">{{ message }}</p>
					{% if error == True %}
						<p class="text-danger">User not found</p>
					{% endif %}
					<form action="{% url 'todolist:update_profile' %}" method="post">
						{% csrf_token %}

						<div class="mb-3">
						    <label for="first_name">First Name: </label>
						    <input class="form-control border border-info" id="first_name" type="text" name="first_name" value="{{ first_name }}" maxlength="50" required>
						</div>

						<div class="mb-3">
						    <label for="last_name">Last Name: </label>
						    <input class="form-control border border-info" id="last_name" type="text" name="last_name" value="{{ last_name }}" maxlength="50" required>
						</div>

						<div class="mb-3">
						    <label for="current_password">Current Password: </label>
						    <input class="form-control border border-info" id="current_password" type="password" name="current_password" value="{{ current_password }}" maxlength="50">
						</div>

						<div class="mb-3">
						    <label for="new_password">New Password: </label>
						    <input class="form-control border border-info" id="new_password" type="password" name="new_password" value="{{ new_password }}" maxlength="50">
						</div>
						<div class="mb-3">
						    <label for="confirm_password">Confirm Password: </label>
						    <input class="form-control border border-info" id="confirm_password" type="password" name="confirm_password" value="{{ confirm_password }}" maxlength="50">
						</div>

						<div class="text-center">
							<input type="submit" class="btn btn-success" value="Save Changes">
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}